<section>
	<div class="g-page" data-href="//plus.google.com/u/0/103267485867780398396" data-layout="landscape" data-rel="publisher"></div>
</section>

<section>
	<div class="fb-like-box bg-white" data-href="https://www.facebook.com/tccseojean" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
</section>

<style type="text/css">
	.bg-white {
		background: white;
	}
</style>