<section>
	<h2>Quem somos?</h2>
	<ul class="small-image-list">
		<li>
			<a data-no-turbolink="true" title="Curriculo Lates de Jean Miguel" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4948086Y7">
				<%= image_tag 'jean.jpg', :class => "left", :title => "Jean Miguel Ferreira Dias" %>
			</a>
			<h4>Jean Miguel</h4>
			<p>Aluno do 8º semestre do curso de Sistemas de Informação do Uni-FACEF.</p>
		</li>
		<li>
			<a data-no-turbolink="true" title="Curriculo Lates de Leandro Borges" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4262822H6">
				<%= image_tag 'leandro.jpg', :class => 'left', :title => 'Leandro Borges' %>
			</a>
			<h4>Leandro Borges</h4>
			<p>Prof. Mestre do curso de Sistemas de Informação do Uni-FACEF.</p>
		</li>
	</ul>
</section>