<div id="footer-wrapper">
	<div class="container">
		<div class="row">
			<div class="8u">
				
				<section>
					<h2>Parceiros, Ferramentas e Referências :)</h2>
					<div>
						<div class="row">
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Centro Universitário de Franca - Uni-FACEF" href="http://site.unifacef.com.br/" target="_blank">Uni-FACEF</a></li>
									<li><a data-no-turbolink="true" title="Orientador do TCC Leandro Borges" href="http://leandroborges.eng.br/" target="_blank">Leandro Borges</a></li>
									<li><a data-no-turbolink="true" title="Layout deste Blog feito por HTML5 UP" href="http://html5up.net" target="_blank">HTML5 UP</a></li>
									<li><a data-no-turbolink="true" title="Blog hospedado em um servidor na Amazon" href="https://aws.amazon.com/" target="_blank">Digital Ocean</a></li>
								</ul>
							</div>
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Ferramenta utilizada para monitoramento do Blog" href="https://www.google.com/webmasters/tools/" target="_blank">Google Webmaster</a></li>
									<li><a data-no-turbolink="true" title="Ferramenta utilizada para analise do Blog" href="http://www.google.com/analytics/" target="_blank">Google Analytics</a></li>
									<li><a data-no-turbolink="true" title="Ferramenta para analisar o conteúdo da página" href="http://www.browseo.net/" target="_blank">Browseo</a></li>
									<li><a data-no-turbolink="true" title="Website para analisar links de entrada e saída do blog" href="http://www.opensiteexplorer.org/" target="_blank">Open Site Explorer</a></li>
								</ul>
							</div>
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Livro usado com referência no TCC de SEO" href="http://www.altabooks.com.br/seo-otimizacao-para-mecanismos-de-busca-biblia.html" target="_blank">SEO Biblia</a></li>
									<li><a data-no-turbolink="true" title="Livro usado com referência sobre SEO" href="http://www.novatec.com.br/livros/guerreiroseo/" target="_blank">Guerreiro SEO</a></li>
									<li><a data-no-turbolink="true" title="Livro usado com referência do TCC SEO" href="http://www.novatec.com.br/livros/arteseo2ed/" target="_blank">A Arte do SEO</a></li>
									<li><a data-no-turbolink="true" title="Ferramenta para analise de SEO em todos os aspectos" href="http://www.woorank.com/" target="_blank">WooRank</a></li>
								</ul>
							</div>
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Ferramenta para analise de SEO" href="http://www.semrush.com/" target="_blank">SEMRush</a></li>
									<li><a data-no-turbolink="true" title="Linguagem usada na programacão do blog do TCC SEO" href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a></li>
									<li><a data-no-turbolink="true" title="Framework usado para criar o blog de SEO" href="http://rubyonrails.org/" target="_blank">Ruby On Rails</a></li>
									<li><a data-no-turbolink="true" title="Banco de Dados que foi utilizado para o desenvolvimento do blog de SEO" href="http://www.mysql.com/" target="_blank">MySQL</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			
			</div>
			<div class="4u">

				<section>
					<h2>Detalhes sobre o blog</h2>
					<p>O blog tem o obejtivo de explicar sobre SEO de acordo com que é realizado as pesquisas do TCC. Este blog não tem como objetivo ser escrito de forma acadêmica, com isso será dispensado o uso de citações em alguns casos.</p>
				</section>

			</div>
		</div>
		<div class="row">
			<div class="12u">

				<div id="copyright">
					2014 - Desenvolvido por <a data-no-turbolink="true" title="Jean Miguel Desenvolvimento e Consultoria" href="http://www.jeanmiguel.eti.br" target="_blank">Jean Miguel</a> | Design: <a data-no-turbolink="true" title="HTML5 UP website com o Layout deste site" href="http://html5up.net" target="_blank">HTML5 UP</a>
				</div>

			</div>
		</div>
	</div>
</div>