<div id="footer-wrapper">
	<div class="container">
		<div class="row">
			<div class="8u">
				
				<section>
					<h2>Parceiros, Ferramentas e Referências :)</h2>
					<div>
						<div class="row">
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Centro Universitário de Franca - Uni-FACEF" href="http://site.unifacef.com.br/">Uni-FACEF</a></li>
									<li><a data-no-turbolink="true" title="Orientador do TCC Leandro Borges" href="http://leandroborges.eng.br/">Leandro Borges</a></li>
									<li><a data-no-turbolink="true" title="Layout deste Blog feito por HTML5 UP" href="http://html5up.net">HTML5 UP</a></li>
									<li><a data-no-turbolink="true" title="Blog hospedado em um servidor na Digital Ocean" href="https://www.digitalocean.com/">Digital Ocean</a></li>
								</ul>
							</div>
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Ferramenta utilizada para monitoramento do Blog" href="https://www.google.com/webmasters/tools/">Google Webmaster</a></li>
									<li><a data-no-turbolink="true" title="Ferramenta utilizada para analise do Blog" href="http://www.google.com/analytics/">Google Analytics</a></li>
									<li><a data-no-turbolink="true" title="Ferramenta para analisar o conteúdo da página" href="http://www.browseo.net/">Browseo</a></li>
									<li><a data-no-turbolink="true" title="Website para analisar links de entrada e saída do blog" href="http://www.opensiteexplorer.org/">Open Site Explorer</a></li>
								</ul>
							</div>
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Livro usado com referência no TCC de SEO" href="http://www.altabooks.com.br/seo-otimizacao-para-mecanismos-de-busca-biblia.html">SEO Biblia</a></li>
									<li><a data-no-turbolink="true" title="Livro usado com referência sobre SEO" href="http://www.novatec.com.br/livros/guerreiroseo/">Guerreiro SEO</a></li>
									<li><a data-no-turbolink="true" title="Livro usado com referência do TCC SEO" href="http://www.novatec.com.br/livros/arteseo2ed/">A Arte do SEO</a></li>
									<li><a data-no-turbolink="true" title="Ferramenta para analise de SEO em todos os aspectos" href="http://www.woorank.com/">WooRank</a></li>
								</ul>
							</div>
							<div class="3u">
								<ul class="link-list">
									<li><a data-no-turbolink="true" title="Ferramenta para analise de SEO" href="http://www.semrush.com/">SEMRush</a></li>
									<li><a data-no-turbolink="true" title="Linguagem usada na programacão do blog do TCC SEO" href="https://www.ruby-lang.org/en/">Ruby</a></li>
									<li><a data-no-turbolink="true" title="Framework usado para criar o blog de SEO" href="http://rubyonrails.org/">Ruby On Rails</a></li>
									<li><a data-no-turbolink="true" title="Banco de Dados que foi utilizado para o desenvolvimento do blog de SEO" href="http://www.mysql.com/">MySQL</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			
			</div>
			<div class="4u">

				<!-- <section>
					<h2>Ficou alguma dúvida?</h2>
					<p>O blog tem o obejtivo de explicar sobre SEO de acordo com que é realizado as pesquisas do TCC. Caso fique alguma dúvida ou queira saber mais sobre o projeto entre em contato, que eu tentarei solucionar.</p>
					<footer class="controls">
						<a data-no-turbolink="true" href="#" class="button">Entre em contato</a>
					</footer>
				</section> -->

			</div>
		</div>
		<div class="row">
			<div class="12u">

				<div id="copyright">
					2014 - Desenvolvido por <a data-no-turbolink="true" title="Jean Miguel Desenvolvimento e Consultoria" href="http://www.jeanmiguel.eti.br">Jean Miguel</a> | Design: <a data-no-turbolink="true" title="HTML5 UP website com o Layout deste site" href="http://html5up.net">HTML5 UP</a>
				</div>

			</div>
		</div>
	</div>
</div>