<div id="banner-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
			
				<div id="banner">
					<h2>TCC SEO - Blog sobre o tema SEO</h2>
					<span>Blog do TCC de Jean Miguel sobre o tema SEO, com orientação de Prof. Ms. Leandro Borges</span>
				</div>
		
			</div>
		</div>
	</div>
</div>